body{
    background-color: #191825;
}

.Home{
    text-align: center;
    justify-content: center;
}

button{
    position: relative;
    background-color: #865DFF; 
    border: none; 
    color: white; 
    padding: 10px 32px; 
    align-items: center;
    /* text-align: center; */
    justify-content: center;
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin-left: 20px;
    cursor: pointer; 
    border-radius: 25px; 
    font-weight: bolder;
}

button:hover{
    background-color: #E384FF;
    
}



h1{
    text-align: center;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-align: center;

}

ul{
    color: white;
}

li{
    color: white;
}



p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-align: center;

}